<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html' %}
      <h1>This is our about website</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat
        aliquam? Temporibus beatae ipsum cupiditate optio, delectus aperiam
        tempore, ad facilis quidem adipisci iure ratione et, nobis dolorum
        blanditiis eos molestias reprehenderit facere possimus atque. Laudantium
        maiores vero laborum consequuntur harum! Commodi quos similique nesciunt
        ducimus itaque, nostrum omnis dolorum.
      </p>
      <button>Contact us</button>
    </div>
  </body>
</html>
